<!DOCTYPE html>
<html>
<head>
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
    <link rel="manifest" href="/manifest.json">
    <link rel="mask-icon" href="/safari-pinned-tab.svg" color="#5bbad5">
    <meta name="theme-color" content="#ffffff">
    <meta charset="utf-8">
    <title><%= htmlWebpackPlugin.options.title %></title>
    <meta content="<%= htmlWebpackPlugin.options.title %>" property="og:title">
    <meta content="width=device-width, initial-scale=1" name="viewport">
    <script>
      var targetHash = "#/consultation/comment-lutter-contre-les-violences-faites-aux-femmes"
      var targetUrl = "https://stopvff.make.org/" + targetHash

      if(/http(s)?:\/\/(www\.)?stopvff\.+/.test(document.location)) {
        if (!/\/#\/account-activation\/.+/.test(document.location.hash) &&
            document.location.hash != targetHash
         ) {
            window.location = targetUrl
        }
      }
    </script>
    <link href="https://fonts.googleapis.com/css?family=Playfair+Display:400i" rel="stylesheet">
    <link rel="stylesheet" href="./styles/main.css" type="text/css" media="all">
    <script type="application/javascript" src="make-front-fastopt-library.js"></script>
    <script language="javascript">
        var configuration = {
            "apiUrl": "<%= htmlWebpackPlugin.options.apiUrl %>",
            "googleAppId": "<%= htmlWebpackPlugin.options.googleAppId %>",
            "facebookAppId": "<%= htmlWebpackPlugin.options.facebookAppId %>"
        };
        var exports = window;
        exports.require = window["makeApp"].require;

        // simulate emitting events to facebook pixel
        fbq = function(eventType, eventName, eventParameters){
            console.log("FBEvent type=", eventType, "name=", eventName, "params=", eventParameters)
        }
    </script>
</head>
<body>
<div id="make-app"></div>
<script type="application/javascript" src="make-front-fastopt.js"></script>
</body>
</html>