<!DOCTYPE html>
<html>
<head>
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
    <link rel="manifest" href="/manifest.json">
    <link rel="mask-icon" href="/safari-pinned-tab.svg" color="#5bbad5">
    <meta name="theme-color" content="#ffffff">
    <meta charset="utf-8">
    <title><%= htmlWebpackPlugin.options.title %></title>
    <meta content="<%= htmlWebpackPlugin.options.title %>" property="og:title">
    <meta content="width=device-width, initial-scale=1" name="viewport">
    <script>
      var targetHash = "#/consultation/comment-lutter-contre-les-violences-faites-aux-femmes"
      var targetUrl = "https://stopvff.make.org/" + targetHash

      if(/http(s)?:\/\/(www\.)?stopvff\.+/.test(document.location)) {
        if (!/\/#\/account-activation\/.+/.test(document.location.hash) &&
            document.location.hash != targetHash
         ) {
            window.location = targetUrl
        }
      }
    </script>
    <link href="https://fonts.googleapis.com/css?family=Playfair+Display:400i" rel="stylesheet">
    <script language="javascript">
        var configuration = {
            "apiUrl": "<%= htmlWebpackPlugin.options.apiUrl %>",
            "googleAppId": "<%= htmlWebpackPlugin.options.googleAppId %>",
            "facebookAppId": "<%= htmlWebpackPlugin.options.facebookAppId %>"
        }
    </script>
    <!-- Facebook Pixel Code -->
    <script>
      !function(f,b,e,v,n,t,s)
      {if(f.fbq)return;n=f.fbq=function(){n.callMethod?
      n.callMethod.apply(n,arguments):n.queue.push(arguments)};
      if(!f._fbq)f._fbq=n;n.push=n;n.loaded=!0;n.version='2.0';
      n.queue=[];t=b.createElement(e);t.async=!0;
      t.src=v;s=b.getElementsByTagName(e)[0];
      s.parentNode.insertBefore(t,s)}(window, document,'script',
      'https://connect.facebook.net/en_US/fbevents.js');
      fbq('init', '<%= htmlWebpackPlugin.options.facebookPixelId %>');
      fbq('track', 'PageView');
    </script>
    <noscript><img height="1" width="1" style="display:none"
      src="https://www.facebook.com/tr?id=<%= htmlWebpackPlugin.options.facebookPixelId %>&ev=PageView&noscript=1"
    /></noscript>
    <!-- End Facebook Pixel Code -->

    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=<%= htmlWebpackPlugin.options.googleAnalyticsId %>"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', '<%= htmlWebpackPlugin.options.googleAnalyticsId %>');
    </script>
    <!-- END Global site tag (gtag.js) - Google Analytics -->
</head>
<body>
<div id="make-app">
    <style>
        html,body,#make-app{height:100%}
        .loader__wrapper{display:table;width:100%;height:100%;background:rgba(0,0,0,0.05)}
        .loader__inner-wrapper{display:table-cell;vertical-align:middle;padding:1em;text-align:center}
        .loader__ill{max-width:100%}
        .loader__message{margin:1em 0;font-family:CircularStdBook,Arial,sans-serif;font-size:1.5em;line-height:1.3;color:rgba(0,0,0,0.3)}
        .loader__message em{font-family:CircularStdBold,Arial,sans-serif;font-weight:bold;font-size:1.2em;color:#ed1844}
        .loader__message sup{font-size:0.7em;vertical-align:super}
    </style>
    <div class="loader__wrapper">
      <div class="loader__inner-wrapper">
          <svg xmlns="http://www.w3.org/2000/svg" x="0px" y="0px" width="150" viewBox="0 0 150 150">
              <style type="text/css">
	            .st0{fill:#ED1844;}
	            .st1{fill:#253186;}
	            </style>
              <path class="st0" d="M58.6,129.7l7.4,7.8l35.2-19.9l1.4-32.8c6.7-6.2,49.7-34,42.8-82.3C97.2-4.2,69.3,38.8,63.2,45.4l-32.8,1.4L10.5,82l7.8,7.4l24.4-7.3l11.6,11.6l11.6,11.6L58.6,129.7z M114.1,23.3c2.9-2.9,7.7-2.9,10.6,0c2.9,2.9,2.9,7.7,0,10.6 c-2.9,2.9-7.7,2.9-10.6,0C111.2,31,111.2,26.2,114.1,23.3z"/>
              <rect x="-3.6" y="113.3" transform="matrix(0.7071 -0.7071 0.7071 0.7071 -75.7087 46.8599)" class="st1" width="44.7" height="3"/>
              <rect x="-3.6" y="127.8" transform="matrix(0.7071 -0.7071 0.7071 0.7071 -85.9011 51.1332)" class="st1" width="44.7" height="3"/>
              <rect x="18" y="120.8" transform="matrix(0.7071 -0.7071 0.7071 0.7071 -74.6677 64.3466)" class="st1" width="44.7" height="3"/>
              <animateTransform attributeName="transform" type="translate" from="2 2" to="2 2" begin="0s" dur="0.3s" values="2 2; 2 0; 2 1; 1 1; 1 0;" keySplines="0 0 0 0; 0 0 0 0; 0 0 0 0; 0 0 0 0; 0 0 0 0;" repeatCount="indefinite"/>
          </svg>
          <p class="loader__message"><em>Patience,</em><br>la 1<sup>ère</sup> proposition est<br>en cours de chargement&hellip;</p>
      </div>
    </div>
</div>
</body>
</html>